flows.json
[
    {
        "id": "645ed06bae9e6423",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "0c77e2e0b05f5dc4",
        "type": "ui_chartst",
        "z": "645ed06bae9e6423",
        "group": "f9c34dde.1e2f4",
        "name": "myChart",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "8c0c30c178869b3e",
        "type": "acquisition out",
        "z": "645ed06bae9e6423",
        "name": "myProbe_Out",
        "probeconfig": "b6a2433378ddb4e6",
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "7787d4c71c4ce17f",
        "type": "acquisition in",
        "z": "645ed06bae9e6423",
        "name": "myProbe_In",
        "probeconfig": "b6a2433378ddb4e6",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "3552975f1d7d334d"
            ],
            []
        ]
    },
    {
        "id": "ad476c4668c54629",
        "type": "variables",
        "z": "645ed06bae9e6423",
        "groupname": "myVariables",
        "accesspoint": 0,
        "execonfig": "0c575ca8b5a2d39a",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "BLUELED",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1732583233068,
        "openStatus": true,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "8c0c30c178869b3e",
                "ee674f1eaad5fccd"
            ],
            [
                "4d163dc42bc0af45"
            ]
        ]
    },
    {
        "id": "c3834932a2244ec5",
        "type": "ui_button",
        "z": "645ed06bae9e6423",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "0c77e2e0b05f5dc4"
            ]
        ]
    },
    {
        "id": "5159ca75ce0b5dfc",
        "type": "ui_button",
        "z": "645ed06bae9e6423",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "ad476c4668c54629"
            ]
        ]
    },
    {
        "id": "b60c9c119e697ce8",
        "type": "ui_button",
        "z": "645ed06bae9e6423",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "ad476c4668c54629"
            ]
        ]
    },
    {
        "id": "3552975f1d7d334d",
        "type": "processing",
        "z": "645ed06bae9e6423",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "0c77e2e0b05f5dc4"
            ],
            []
        ]
    },
    {
        "id": "4d163dc42bc0af45",
        "type": "ui_toast",
        "z": "645ed06bae9e6423",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "ee674f1eaad5fccd",
        "type": "ui_write",
        "z": "645ed06bae9e6423",
        "group": "f9c34dde.1e2f4",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "x": 510,
        "y": 20,
        "wires": [
            [
                "8c0c30c178869b3e",
                "a9577f5cfc8778db"
            ]
        ]
    },
    {
        "id": "2871cf734b2c2626",
        "type": "inject",
        "z": "645ed06bae9e6423",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "c7d8061f2d3018ce"
            ]
        ]
    },
    {
        "id": "78deee0b5c456e80",
        "type": "inject",
        "z": "645ed06bae9e6423",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "c7d8061f2d3018ce"
            ]
        ]
    },
    {
        "id": "45e50d5a57b47ed8",
        "type": "debug",
        "z": "645ed06bae9e6423",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 520,
        "wires": []
    },
    {
        "id": "a9577f5cfc8778db",
        "type": "debug",
        "z": "645ed06bae9e6423",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 20,
        "wires": []
    },
    {
        "id": "c7d8061f2d3018ce",
        "type": "template",
        "z": "645ed06bae9e6423",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n   \"variablelist\":[\n      {\n         \"address\":\"0x20000028\",\n         \"type\":1,\n         \"value\":\"{{payload}}\"\n      }\n   ],\n   \"accesspoint\":0\n}",
        "output": "json",
        "x": 320,
        "y": 520,
        "wires": [
            [
                "86b3b97f4bdd396e"
            ]
        ]
    },
    {
        "id": "86b3b97f4bdd396e",
        "type": "change",
        "z": "645ed06bae9e6423",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "write",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 520,
        "wires": [
            [
                "45e50d5a57b47ed8",
                "8c0c30c178869b3e"
            ]
        ]
    },
    {
        "id": "e6d27d38e79b6216",
        "type": "mqtt in",
        "z": "645ed06bae9e6423",
        "name": "",
        "topic": "Vinicius_Brito",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8e5fd190630774da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "c7d8061f2d3018ce"
            ]
        ]
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "b6a2433378ddb4e6",
        "type": "probe",
        "probeid": "50FF70064987495216521187",
        "probename": "ST-Link v2 50FF70064987495216521187",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J45",
        "connectionType": "p2p",
        "nickname": ""
    },
    {
        "id": "0c575ca8b5a2d39a",
        "type": "exe-config",
        "name": "123LED",
        "exefile": "C:\\Users\\Aluno\\ELT73A-LAB06\\LAB06_SWITCH_CEL_LED\\build\\Debug\\LAB06_SWITCH_CEL_LED.elf",
        "exefolder": "C:/Users/Aluno/ELT73A-LAB06/LAB06_SWITCH_CEL_LED/build/Debug",
        "exevariablelist": [
            {
                "address": "0x0800173c",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000028",
                "name": "BLUELED",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x20000008",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000004",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000000",
                "name": "uwTickPrio",
                "type": 5
            }
        ],
        "expand": false,
        "filename": "LAB06_SWITCH_CEL_LED.elf",
        "exeModifiedTime": 1732582684834,
        "configLastUpdate": 1732583232719
    },
    {
        "id": "8e5fd190630774da",
        "type": "mqtt-broker",
        "name": "ELT73A-LAB06",
        "broker": "mqtt.adrianoruseler.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]